<!DOCTYPE html>
<!-- saved from url=(0031)http://localhost/tr/iot-manager -->
<html lang="tr">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/png" href="./index_files/d11e4a9911411fa0f5f4df4a5b151286.svg">
      <title>IOT Manager - Home</title>
      <meta name="title" content="Sayfa Başlığı">
      <meta name="description" content="Sayfa açıklama menti 140 karakter civarı olmalıdır">
      <meta name="keyword" content="sayfa, icinde, kullanilan, hashtaglar">
      <meta name="robots" content="index, follow">
      <meta name="language" content="Turkish">
      <link rel="alternate" hreflang="tr" href="http://localhost/tr/iot-manager">
      <link rel="alternate" hreflang="x-default" href="http://localhost/tr/iot-manager">
      <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
      

  

      <link rel="stylesheet" href="index_files/thema.smooth.css">
      <script src="index_files/thema.smooth.js"></script>
      <style>:root{
         --color-0:#229bd2ff;
         --color-0-dark:#186d93;
         --color-0-light:#2ccaff;
         --color-0-opacity:#229bd288;
         --color-0-bw:#ffffffff;

         --color-1:#153ac9ff;
         --color-1-dark:#0f298d;
         --color-1-light:#1b4bff;
         --color-1-opacity:#153ac988;
         --color-1-bw:#ffffffff;
         --color-2:#229bd2ff;
         --color-2-dark:#186d93;
         --color-2-light:#2ccaff;
         --color-2-opacity:#229bd288;
         --color-2-bw:#ffffffff;
         --color-3:#1b1b1bff;
         --color-3-dark:#131313;
         --color-3-light:#232323;
         --color-3-opacity:#1b1b1b88;
         --color-3-bw:#ffffffff;
         --color-4:#4b4b4bff;
         --color-4-dark:#353535;
         --color-4-light:#626262;
         --color-4-opacity:#4b4b4b88;
         --color-4-bw:#ffffffff;
         --color-5:#f1f1f1ff;
         --color-5-dark:#a9a9a9;
         --color-5-light:#ffffff;
         --color-5-opacity:#f1f1f188;
         --color-5-bw:#000000ff;
         --color-navbar:rgba(42,42,42,1.000);
         --color-navbar-bw:#ffffff;
         }
      </style>
      <link href="./index_files/css" rel="stylesheet" type="text/css">
      <style>h1,h2,h3,h4,h5,h6{		font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}p,section,span{		font-family:system-ui}a,button,.button{		font-family:system-ui}</style>
   </head>
   <body class="thema builded page-type-slide scroll-bar scroll-down-top">
      <header id="module-index-0" full-height="none" class="module " module="TopMenu" style="--color:#ffffff;--background-color:rgba(42,42,42,1.000);--mobile-background-object-fit:cover;--desktop-background-object-fit:cover;--mobile-background-object-position:50% 50%;--desktop-background-object-position:50% 50%;--background-filter:saturate(1) brightness(1) contrast(1) invert(0) opacity(1) ; position:fixed;">
         <div class="navbar" openable-top-menu="" top-menu="" style="color:inherit;background-color:inherit;">
            <div class="brand">
               <h1 style="font-family: system-ui;font-size:20px;color:var(--color-0-dark)"></h1>
            </div>
           
            
            <div class="navbar-mobile-menu" menu="" style="color:inherit;background-color:rgba(42,42,42,1.000);">
               <img class="menu-logo" alt="Asenax Logo" src="./index_files/d11e4a9911411fa0f5f4df4a5b151286.svg">
               <div class="map-menu-mobile"><a class="li" href="http://localhost/tr/bize-katilin" hreflang="tr">Bize Katılın</a><a class="li" href="http://localhost/tr/" hreflang="tr">Anasayfa</a><a class="li" href="http://localhost/tr/hakkimizda" hreflang="tr">Hakkımızda</a><a class="li" href="http://localhost/tr/blog" hreflang="tr">Blog</a><a class="li" href="http://localhost/tr/iletisim" hreflang="tr">İletişim</a></div>
            </div>
         </div>
      </header>
      <main class="main">
         
         <div id="module-index-2" full-height="center" class="module " module="Partel" style="--color:rgba(0,0,0);--background-color:rgba(0,0,0);--mobile-padding-top:40px;--desktop-padding-top:40px;--mobile-padding-bottom:40px;--desktop-padding-bottom:0px;--mobile-background-object-fit:cover;--desktop-background-object-fit:cover;--mobile-background-object-position:50% 50%;--desktop-background-object-position:50% 50%;--background-filter:saturate(1) brightness(1) contrast(1) invert(0) opacity(0.5) ;">
            <div class="icon"><img src="icon.png" alt="Girl in a jacket" height="180"></div>
            <div class="text-container">
               <h1>VIEW DATA for ıot</h1>

             </div>
             <div class="button"<span><a href="iindex">How about startıng?</a></span></div>
             

            <picture background-picture="" aria-label="arka.jpg">
               
               
              
            </picture>
            <!--- <img src="132" background-image /> -->
            <div class="module-partel"><div class="container" style="padding:16px 0px;" "animate-scroll"="null" "animate-scroll-direction"="enter"><section style="background-color:rgba(0,0,0,0.000);padding:1em 0px;text-align:center;font-size:28px;" "animate-scroll"="null" "animate-scroll-direction"="enter"></section></div>
         </div>
         </div>       
         <div id="module-index-3" full-height="center" class="module " module="Partel" style="--color:#333;--background-color:#FFF0;--mobile-padding-top:40px;--desktop-padding-top:40px;--mobile-padding-bottom:40px;--desktop-padding-bottom:40px;--mobile-background-object-fit:cover;--desktop-background-object-fit:cover;--mobile-background-object-position:50% 50%;--desktop-background-object-position:50% 50%;--background-filter:saturate(1) brightness(1) contrast(1) invert(0) opacity(1) ;">
            <div class="module-partel"><div class="container" style="padding:16px 0px;" "animate-scroll"="null" "animate-scroll-direction"="enter"><h2 id="who-are-we" style="" "animate-scroll"="null" "animate-scroll-direction"="enter">Who are we?</h2><section style="background-color:rgba(0,0,0,0.000);padding:4px 0px 1em;color:#4b4b4bff;text-align:center;line-height: 30px;" "animate-scroll"="null" "animate-scroll-direction"="enter">As View Data For Iot, we have always targeted bigger things by taking advantage of our experience in this field as well as our undergraduate education. We have always been rewarded for our unending determination and steadfast structure, as well as for our refusal to admit failure. View Data For Iot, which has a mission to create useful works by taking user requests into account, has made everyone meet iot technology thanks to this website.</section><section style="background-color:rgba(0,0,0,0.000);padding:1em 0px 4px;color:#4b4b4bff;text-align:center;" "animate-scroll"="null" "animate-scroll-direction"="enter">The satisfaction of our users is our success. All of our services are determined according to the needs, desires and wishes of our users. With our forward-looking dreams and our enthusiasm for our profession, we provide our users with the most accurate visualized data output at any time, above the standards. View Data For Iot is known as more than a site that makes your life easier for you, as it shapes its services with the principles of accuracy and reliability.</section></div>
         </div>
         </div>       
        
         <div id="module-index-5" full-height="top" class="module " module="Partel" style="--color:#333;--background-color:#FFF0;--mobile-padding-top:40px;--desktop-padding-top:40px;--mobile-padding-bottom:40px;--desktop-padding-bottom:40px;--mobile-background-object-fit:cover;--desktop-background-object-fit:cover;--mobile-background-object-position:50% 50%;--desktop-background-object-position:50% 50%;--background-filter:saturate(1) brightness(1) contrast(1) invert(0) opacity(1) ;">
            <div class="module-partel">
               <h2 id="our-team" style="" "animate-scroll"="null" "animate-scroll-direction"="enter">OUR TEAM</h2><div class="container" style="padding:16px 0px;" "animate-scroll"="null" "animate-scroll-direction"="enter"><div class="wall-2 gap-0" style="background-color:rgba(0,0,0,0.000);padding:16px 0px;" "animate-scroll"="null" "animate-scroll-direction"="enter">
               <div>
                  <div style="background-color:rgba(0,0,0,0.000);padding:1em 7em;" "animate-scroll"="null" "animate-scroll-direction"="enter">
                    <picture type="person" "animate-scroll"="null" "animate-scroll-direction"="enter">
                      <span class="top-text"> REYHAN DEDE</span><span class="bottom-text"> Co-Founder</span>
                      <img style="object-fit:contain;filter:grayscale(1)" src="index_files/5896deb01b5d3d33c64c615dad69f795-480.jpeg" alt="Reyhan Dede.jpeg Croppped">
                    </picture>
               </div>
               <div class="social-links" style="" "animate-scroll"="null" "animate-scroll-direction"="enter"><a href="http://localhost/tr/iot-manager" class="icon-linkedin" target="_blank" rel="noreferrer"></a><a href="mailto:" class="icon-mail" target="_blank" rel="noreferrer"></a>
            </div>
         </div>


 




         <div>
            <div style="background-color:rgba(0,0,0,0.000);padding:1em 7em;" "animate-scroll"="null" "animate-scroll-direction"="enter">
              <picture type="person" "animate-scroll"="null" "animate-scroll-direction"="enter">
                <span class="top-text">NURSEL USMAN</span><span class="bottom-text"> Co-Founder</span>
                <img style="object-fit:contain;filter:grayscale(1)" src="index_files/b39159c77562009a0df04e184126b278-480.jpeg" alt="Nursel.jpeg">
              </picture>
         </div>
         <div class="social-links" style="" "animate-scroll"="null" "animate-scroll-direction"="enter"><a href="http://localhost/tr/iot-manager" class="icon-linkedin" target="_blank" rel="noreferrer"></a><a href="mailto:" class="icon-mail" target="_blank" rel="noreferrer"></a></div></div>

       
  
      
         
        


      </main>
      <footer id="module-index-6" full-height="none" class="module " module="Footer" style="--color:rgba(255,255,255,1.000);--background-color:rgb(65, 65, 65);--desktop-padding-top:0px;--mobile-background-object-fit:cover;--desktop-background-object-fit:cover;--mobile-background-object-position:50% 50%;--desktop-background-object-position:48.048048048048045% 63.2183908045977%;--background-filter:saturate(1) brightness(1) contrast(1) invert(0) opacity(0.15) ;">
         <!--- <img src="132" background-image /> -->
         <div class="module-footer">
            <div class="container wall-3">
               <div class="column">
            
               </div>
               <div class="column">
                  
               </div>
               <div class="column">

               </div>
            </div>
         </div>
         <div class="copyright">
            <p style="text-align: center;font-size:16px;padding:1em">© 2021 IOT Manager. All Rights Reserved.</p>
         </div>
         </div>        
      </footer>
      <script>
         if(typeof ScrollBarSetup=="function") ScrollBarSetup(window);
             AnimateScroll(window);
      </script>
   </body>
</html>