body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;

  background-color: black;



}
img{
  position: fixed;

    top:2%;
    right: 2%;
    width: 10%;
}

.text-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
}

.text-container h1{
  margin: 0;
  font-size: 150px;
  color: rgba(225,225,225, .01);
  background-image: url("arka.jpg");
  background-repeat: repeat;
  background-clip:text;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
.text-container h2{
  margin: 0;
  font-size: 150px;
  color: rgba(225,225,225, .01);
  background-image: url("arka.jpg");
  background-repeat: repeat;
  background-clip:text;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0.2;
}

  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }
}

.button,
.button::before,
.button::after,
.button span,
.button span::before,
.button span::after
{
  transition: all ease .5s;
}

.button{
  position: relative;
  display: inline-block;
  padding: 0.3em;
  border: solid 1px;
  text-transform: uppercase;
  cursor: pointer;
  background-color:white;
  color:#153c47;

  left:40%;
  margin-top:35%;
    justify-content: center;


}
.button a{text-decoration:none;  color:#153c47;}

.button:hover
{
  box-shadow: 0 0 5em .5em rgb(0, 99, 90);
}

.button span
{
  display: inline-block;
  width: 100%;
  padding: 0.6em 2em;
}

.button:hover span
{
  background-color:white;
  color: #112;
}

.button::before,
.button::after,
.button span::before,
.button span::after
{
  content: '';
  position: absolute;
  border: 1px;
}

.button::before,
.button span::before
{
  border-style: solid none;
}

.button::before,
.button span::after{
  left: 0;
  top: -0.4em;
  width: 100%;
  height: calc(100% + 0.8em);
}

.button::after,
.button span::after
{
  border-style: none solid;
}

.button::after,
.button span::before
{
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em);
}

.button:hover::after,
.button:hover span::after
{
  transform: scaleY(0);
}

.button:hover::before,
.button:hover span::before
{
  transform: scaleX(0);
}

.button:hover span::after,
.button:hover span::before
{
  opacity: 0;
}